<div class="page-header">

  <ul class="breadcrumb">
    <li><%= link_to "Users", users_path %> <span class="divider">/</span></li>
    <li><%= link_to "User", user_path(@user) %> <span class="divider">/</span></li>
    <li class="active">Sessions</li>
  </ul>

  <h1>Sessions for <%= @user.username %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Min</th>
      <th>Max</th>
      <th>Avg</th>
      <th>Zone 1</th>
      <th>Zone 2</th>
      <th>Zone 3</th>
      <th>Zone 4</th>
      <th>Total duration</th>
    </tr>
  </thead>

  <tbody>
    <% @hrm_sessions.each do |hrm_session| %>
      <tr>
        <td><%= link_to l(hrm_session.created_at, format: :long), [@user, hrm_session] %></td>
        <td><%= hrm_session.bpm_min if hrm_session.bpm_min %></td>
        <td><%= hrm_session.bpm_max if hrm_session.bpm_max %></td>
        <td><%= hrm_session.bpm_weighted_avg if hrm_session.bpm_weighted_avg %></td>
        <td><%= seconds_to_human_time hrm_session.hr_zone1_duration if hrm_session.hr_zone1_duration %></td>
        <td><%= seconds_to_human_time hrm_session.hr_zone2_duration if hrm_session.hr_zone2_duration %></td>
        <td><%= seconds_to_human_time hrm_session.hr_zone3_duration if hrm_session.hr_zone3_duration %></td>
        <td><%= seconds_to_human_time hrm_session.hr_zone4_duration if hrm_session.hr_zone4_duration %></td>
        <td><%= seconds_to_human_time hrm_session.duration %></td>
      </tr>
    <% end %>
  </tbody>
</table>
